/.idea

packages/client/node_modules
packages/client/.env.local
packages/client/.next
packages/client/next-env.d.ts

packages/server/node_modules
packages/server/dist
packages/server/.env

packages/shared/node_modules
packages/shared/dist
packages/shared/tsconfig.tsbuildinfo


node_modules
scripts