/* packages/client/src/app/globals.css */
@import "tailwindcss";

@layer base {
    body {
        @apply bg-gray-200 text-gray-800 dark:bg-gray-800 dark:text-gray-100;
    }
    .toast-center {
        top: 50% !important;
        bottom: auto !important;
        transform: translateY(-50%) !important;
    }
}